* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 20px;
}

#clickArea {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px); /* Высота за вычетом заголовка и бустеров */
    overflow: hidden;
}

#clickImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Растягиваем изображение на весь экран */
    cursor: pointer; /* Курсор указывает, что это кнопка */
}
